.container {
    padding: 5rem;
}

.container h1 {
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 5rem;
    color: var(--color-des);
    padding-bottom: 1rem;
    text-align: center;
}

.certificationsContainer {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.imageContainer {
    width: 50rem;
    height: 35rem;
    border-radius: 10px;
}

.imageContainer img {
    height: 100%;
    width: -webkit-fill-available;
    border-radius: 10px;
}

.infoContainer {
    text-align: center;
    margin: 1rem 20rem;
}

.indexContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.indexButton {
    height: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.3s ease;
}

.indexTrue {
    width: 50px;
    background-color: var(--color-des);
}

.indexFalse {
    width: 25px;
    background-color: rgb(194, 193, 193);
}



@media (max-width: 1400px) {
    .container {
        padding: 3rem;
    }

    .container h1 {
        font-size: 4rem;
    }

    .arrowButton {
        display: none;
    }

    
    .infoContainer{
        margin: 2rem 0;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imageContainer {
        position: relative;
        width: 40rem;
        height: 30rem;
        overflow: hidden;
    }

    .imageContainer img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        user-select: none;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 2rem;
    }

    .container h1 {
        font-size: 2.5rem;
        padding-top: 6rem;
        padding-bottom: 1rem;
    }

    .imageContainer {
        width: 100%;
        height: 255px;
    }

    .infoContainer h2{
        font-size: 1rem;
    }
    .infoContainer p{
        font-size: 0.8rem;
    }

}