.container{
    height: 90vh;
    margin-top: 5rem;
    background-image: url("../../assets/bgdesktop.png");
    background-repeat: no-repeat;   
    background-size: cover;         
    background-position: top;

    display: grid;
    
}

.container h1{
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 8rem;
    padding: 70px;

    color: var(--color-h1);
    -webkit-text-stroke: 2px var(--color-bg);
}

.container span{
    font-size: 2rem;
    display: inline-flex;
}

.container ul{
    display: flex;
    gap: 50px;

}

.container li{
    list-style: none;
}

.container a{
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-bg);
    color: var(--color-h1);;
    display: grid;
    place-content: center;
    border: 2px solid transparent;
}

.container a:hover {
    transition: .4s;
    background-color:#A9505A;
    color: var(--color-bg);
    border-color: var(--color-des);
    cursor: pointer;
}

@media (max-width: 1500px) {
    .container{
        margin-top: 1rem;
    }
}
@media (max-width: 1100px) {
    .container h1{
        font-size: 6.5rem;;
    }
}

@media (max-width: 1050px) {
    .container{
        background-size: contain; 
        background-position: bottom;
        display: grid;
        align-items: center;
    }
    .container h1{
        font-size: 5rem;
        padding: 0;
        padding-top: 15rem;
        padding-left: 1rem;
    }
}

@media (max-width: 480px) {
    .container{
        background-size: cover;
        place-content: top;
        margin-top: 18rem;
        height: 60vh;
        background-image: url("../../assets/bgphone.png");
       
    }
    .container h1{
        font-size: 3rem;
        padding: 0;
        padding-left: 10px;
        text-align: center;
    }
    .container span{
        display: flex;
        justify-content: center;
    }
}
