.container{
    padding: 5rem;
}

.container h1{
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 7rem;
    color: var(--color-des);
    padding-bottom: 4rem;
}

.cardContainer{
    margin: 4rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

.card {
    text-align: center;
    color: var(--color-des);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.card h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.card .company {
    font-size: 0.9rem;
    font-style: italic;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer img {
    width: 100%;
    max-width: 550px;
}
.logoContainer svg {
    font-size: 7rem;
    color: var(--color-des);
}

.textContainer {
    direction: ltr;
}

@media (max-width: 1500px) {
    .container{
        padding: 3rem;
    }
    .container h1{
        font-size: 5rem;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .container{
        padding: 2rem;
    }
    .container h1{
        font-size: 2.5rem;
        padding-top: 6rem;
        padding-bottom: 1rem;
    }
    .cardContainer{
        margin: 2rem 0;
    }
    .card h3 {
        font-size: 1.5rem;
        padding-bottom: 0;
    }
    .card {
        grid-template-columns: 1fr;
        text-align: start;
    }
    .logoContainer {
        display: none;
    }
}
