.container{
    background-color: var(--color-footer);
}
.footerImg{
    width: 100%;
    height: 30vh;
    max-height: 350px;
}

.footerImg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.listName{
    color: var(--coolor-font-footer);
    padding: 3rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.listName li{
   list-style: none;
   font-weight: 600;
   padding-top: 1rem;
}

.listName li a{
    text-decoration: none;
    color: inherit;
}

.menu{
    justify-self: center;
}

.contact span{
    padding: 5px;
    border-radius: 50%;
    background-color: var(--coolor-font-footer);
    color: var(--color-bg);
    display: inline-flex;
}

@media (max-width: 480px) {
    .listName{
        grid-template-columns: 1fr;
        padding: 2rem;
        gap: 1rem;
    }
    .menu{
        justify-self: start;
    }
}